<div class="wrapper">
  <h1 class="header"><img src="img/cowboy.png" width="530" height="468">Texas Outlaw Burgers</h1>
  <h2>Burger Menu</h2>
  <h5>Home of the Big Tex</h5>
  <ul id="burgers">
    {{#each burger}}
      {{#unless devoured}}
        <li>{{burger_name}}</li>
        <!--Holds data for customer name-->
        <input type="hidden" type="text" class="burgerHandler" value="{{this.id}}">
        <!--Input where customer name is typed in-->
        <input type="text" placeholder="Customer name" class="customerHandler">
        <button type="submit" data-id="{{id}}">Devour</button>
      {{/unless}}
    {{/each}}
  </ul>

  <h2>Out of Stock</h2>

  <!--create a for loop to loop through burgers eaten/not eaten-->
  <ul id="eaten-burgers">
    {{#each burger}}
      {{#if devoured}}
      <li>{{burger_name}}</li>  
      {{/if}}
    {{/each}}
  </ul>

  <div class="burgersEaten"></div>
  <div class="burgersNotEaten"></div>
  {{!-- <h2>Add a burger</h2> --}}

  <form class="create-form">
    <div class="form-group" id="burger-name">
      <label for="burgerOrder">Create Burger:</label>
      <input type="text" id="burgerOrder" name="name">
    </div>
    <button type="submit" id="add-burger-btn">Add Burger</button>
  </form>
</div>
